@model ScrumUI.Resource

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Resource</legend>
    <br />
    <div class="display-label">
        <span style="font-weight: bold; font-size:large"> @Html.Name("Name"): </span>     
        @Html.DisplayFor(model => model.FullName)
    </div>

    <p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ResourceId }) 
@*    @Html.ActionLink("Back to List", "Index")*@
</p>
    <div>
        <br/>
        @Html.Partial("_TaskForResource", Model.Tasks)
    </div>
    <div>
        <br/>
        <br/>
        @Html.Partial("_ResourceSkillsForResource", Model.ResourceSkills)
    </div>
</fieldset>

