@model ScrumUI.ResourceSkill

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    var fullName = Model.Resource.FirstName + " " + Model.Resource.LastName;
        
    <fieldset>
        <legend>ResourceSkill</legend>
        <br />
        @Html.HiddenFor(model=> model.ResourceID)
        @Html.HiddenFor(model=>model.SkillID)
        @Html.HiddenFor(model => model.ResourceSkillID)
        <br />
        <div class="editor-label">
            @Html.LabelFor(model => model.ResourceID, "Resource")
        </div>
        <div class="editor-field">
            @Html.Name(fullName)
            @*            @Html.ValidationMessageFor(model => model.ResourceID)*@
        </div>
        <br />
        <div class="editor-label">
            @Html.LabelFor(model => model.SkillID, "Skill")
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.Skill.SkillName)
            @*      @Html.ValidationMessageFor(model => model.SkillID)*@
        </div>
        <br />
        <div class="editor-label">
            @Html.LabelFor(model => model.Skill.SkillWeight, "Skill Weight")
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model=>model.Skill.SkillWeight)
            @*      @Html.ValidationMessageFor(model => model.SkillID)*@
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SkillValue)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SkillValue)
            @Html.ValidationMessageFor(model => model.SkillValue)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
