@using System.Web.Mvc.Html
@model ScrumUI.Task

@{
    ViewBag.Title = "Edit";
}
<script src="~/Scripts/jquery-1.8.2.js"></script>
<script src="~/Scripts/Scripts.js"></script>
<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Task</legend>

        @Html.HiddenFor(model => model.TaskId)
        @Html.HiddenFor(model => model.UserStoryId)
        <br />
        <div class="editor-label">
            <span style="font-weight: bold">@Html.Name("User story")</span>
        </div>
        <div class="editor-field" style="width: 200px">
            @Html.DropDownList("UserStoryId", String.Empty)
            @Html.ValidationMessageFor(model => model.UserStoryId)
        </div>

        <div class="editor-label">
            <span style="font-weight: bold">@Html.Name("Title")</span>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            <span style="font-weight: bold">@Html.Name("Description")</span>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            <span style="font-weight: bold">@Html.Name("Estimated Hours")</span>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EstimatedHours)
            @Html.ValidationMessageFor(model => model.EstimatedHours)
        </div>

        <div class="editor-label">
            <span style="font-weight: bold">@Html.Name("Resource")</span>
        </div>
        <div class="editor-field">
            @Html.DropDownList("AssignedTo", String.Empty)
            @Html.ValidationMessageFor(model => model.AssignedTo)
        </div>

        <div class="editor-label">
            <span style="font-weight: bold">@Html.Name("Real hours"):</span>

            <p id="realHours">@Html.DisplayFor(model => model.RealHours)</p>
        </div>

        <div class="editor-label">
            <span style="font-weight: bold">@Html.Name("Suggested"):</span>
            <p id="suggestedName">@Html.DisplayFor(model => model.SuggestedResourceName)</p>
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
